anyio==3.5.0
numpy==1.22.3
opencv-python==4.5.5.64
Pillow==9.1.0
matplotlib==3.5.1
scipy==1.8.0
imageio==2.19.2

loguru==0.6.0
open3d==0.15.2
ipython==8.2.0
Jinja2==3.1.1
pybind11==2.9.2
pycolmap==0.2.0
PyYAML==6.0
scikit-learn==1.0.2
setuptools==62.0.0
tqdm==4.64.0
tox
pytest
coverage